<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entrepreneurship.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @entrepreneurship.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entrepreneurship.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @entrepreneurship.password %>
</p>

<p>
  <strong>Pyme name:</strong>
  <%= @entrepreneurship.pyme_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @entrepreneurship.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @entrepreneurship.number %>
</p>

<%= link_to 'Edit', edit_entrepreneurship_path(@entrepreneurship) %> |
<%= link_to 'Back', entrepreneurships_path %>
