<!-- PLANTILLA BOOTSTRAP TARJETAS-->
<%= simple_form_for(product) do |form| %>
<div class="micardnew mb-3 ">
  <div class="row g-0 ">
    
    <div class="col-md-4 mifotonew">
        <div class="field">
          <%= form.file_field :imagen %> <!--CON LA AYUDA DE ACTIVE_STORAGE SE ALMACENA LAS IMAGENES DE LOS PRODUCTOS-->
        </div>
      
    </div>  
    <div class="col-md-8 miformularionew">
      <div class="card-body">
          <div class="field card-title">
            <%= form.input :name, label: "NOMBRE DEL PRODUCTO" %>
          </div>

          <div class="field card-text">
            <%= form.input :price, label: "PRECIO", hint: "INDIQUE EL PRECIO EN PESOS CHILENOS" %>
          </div>

          <div class="field card-text">
            <%= form.input :information, as: :text, label: "DESCRIPCIÓN DEL PRODUCTO"%>
          </div>

          <div class="field card-text">
            <%= form.association :categories, input_html: {multiple: true}, include_hidden: false, label: "CATEGORÍA DE PRODUCTOS", item_wrapper_class: "inline"  %>
            
          </div>

          <div class="actions">
            <%= form.button :submit, label: "CREAR PRODUCTO" %>
          </div>


          
      </div>
    </div>
    
  </div>
</div>

<% end %>




