

<div class="miindex">
<h1>LISTA DE PRODUCTOS</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <div class="col">
        <div class="micardindex">
          <% if product.imagen.attached? %> <!--VALIDAR QUE HAY IMAGEN-->
            <%= image_tag product.imagen %> 
          <% else %>
            <img src="sin imagen" class="card-img-top" alt="...">  
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.information %></p>
            <h5 class="card-title"><%= product.price %></h5>
          </div>
          <div>
            <td><%= link_to 'Show', product, class: "botonAzul"%></td>
            <td><%= link_to 'Edit', edit_product_path(product), class: "botonAzul" %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "botonAzul" %></td>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="margin-top:25px;">
    <%= link_to 'New Product', new_product_path, class: "botonNaranja" %>
  </div>
</div>



