<!DOCTYPE html>
<html>
  <head>
    <title>Justoaqui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- LLAMAMOS EL NAVBAR CREADO EN LA CARPETA PARTIALS-->
  <%= render "/partials/navbar" %>
  
  <%= yield %>

  <%= render "/partials/footer" %>
  </body>
</html>
